[Desktop Entry]
Type=Application
X-Nemo-Application-Type=silica-qt5
Name=Fibonacci
Icon=harbour-fibonacci
Exec=harbour-fibonacci



[X-Sailjail]
Permissions=UserDirs
OrganizationName=de.poetaster
ApplicationName=Fibonacci
